<style type="text/css">
      .my-img a {
        display: inline-block;
        margin: 2px;
        border: 2px solid #CCC;
      }
      .my-img a:hover {
        border: 2px solid #45AFFF;
      }    
      .modal-lg {
        width: 86%;
      }
      .modal-body {
        overflow: auto;
        max-height: 100%;
        max-width: 100%;
      }
    </style>